{
  "presets": [
    [
      "@babel/env",
      {
        "targets": "> 0.5%, last 2 versions, Firefox ESR, not dead",
        "bugfixes": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
