doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Uh oh!

    link(rel="icon", type="image/png", href="/images/favicon.png")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
  body.container.no-select
    header
      h1 Borja Canseco
    main.six.columns.offset-by-three
      .details
        code
          strong Error #{code}:
        |  #{message}
      .links
        a.button.button-primary(href="/") Home
    canvas
    script(src="/js/scripts.js" async defer)
